<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex xs12 md7>
        <v-layout row wrap>
          <v-flex xs12>
            <v-card dark tile flat color="error" class="grid1">
              <v-carousel class="slider">
                <v-carousel-item
                  v-for="(images,i) in images"
                  :key="i"
                  :src="images.src"
                ></v-carousel-item>
              </v-carousel>
            </v-card>
          </v-flex>
        </v-layout>

        <v-card-title class="terbaru1">Terbaru</v-card-title>
        <!-- create loop -->
        <v-layout row wrap>
          <v-flex xs12 v-for="item in items" :key="item.id">
             <v-card >
               <v-layout row>
                <v-flex xs5>
                  <v-img
                        :src="`https://akcdn.detik.net.id/community/media/visual/2018/04/11/647913e9-d0bc-48c9-9aa0-c98be222910f_43.jpeg?w=700&q=90?random=${n * 5 + 10}`"
                        :lazy-src="`https://nusantaranews.co/assets/uploads/2018/04/Manuver-Elektabilitas-Menuju-Pilpres-2019.jpg?random=${n * 5 + 10}`"
                        aspect-ratio="1"
                        class="grey lighten-2"
                      />
                </v-flex>
                <v-flex xs5>
                  <v-flex>
                   <v-btn class="teknologi" color="primary" to="/pagedetailberita">Teknologi</v-btn>
                  </v-flex>
                      
                  <v-flex>
                    <p class="ubah">{{item.title}}</p>
                  </v-flex>

                  <v-flex>
                    <p class="demam">{{item.subtitle}}</p>
                  </v-flex>
                </v-flex>
               </v-layout>
            </v-card>
          </v-flex>
        </v-layout>
        
      </v-flex>

      <v-flex xs12 md5>
        <!-- create loop -->
        <v-layout row wrap>
          <v-flex xs12 >
            <v-card  tile flat  class="grid2">
            <v-layout column>
              <div class="subheading">
                Terpopuler
                </div>
              <v-img src="https://i1.wp.com/www.njogja.co.id/wp-content/uploads/2017/08/Wisata-Murah-Jogja-Bukit-Pengilon.jpg?resize=564%2C341&ssl=1?random" aspect-ratio="1.7" class="gambar"></v-img>
            </v-layout>
            </v-card>
            <v-card-title primary-title>
              <div class="label1">
                <v-btn color="primary">Teknologi</v-btn>
              </div>
              <div>
                <p class="deskripsi1">
                  Demam eSports kini melanda milenial. Dulu pradigma warnet identik dengan hal negatif dan buang-buang waktu. Beda halnya dengan kafe satu ini yang sengaja menjadikan eSports sebagai sebuah "sajian utama"
                </p>
              </div>
            </v-card-title>
          </v-flex>
        </v-layout>
        
        <v-layout row v-for="item in items" :key="item.id">
          <v-flex xs12 >
             <v-card style="margin: 0 16px">
               <v-layout row>
                <v-flex xs5 >
                  <v-img
                        :src="`http://cdn2.tstatic.net/jakarta/foto/bank/images/real-madrid-vs-barcelona_20180228_120139.jpg?random=${n * 5 + 10}`"
                        :lazy-src="`https://picsum.photos/510/300?random=${n * 5 + 10}`"
                        aspect-ratio="1"
                        class="grey lighten-2"
                      />
                </v-flex>
                <v-flex xs5>
                  <v-flex>
                   <v-btn class="teknologi1" color="primary">Teknologi</v-btn>
                  </v-flex>
                      
                  <v-flex>
                    <p class="ubah">Ubah Paradigma Warnet, Kafe Ini Siapkan Bibit Atlet eSports</p>
                  </v-flex>

                </v-flex>
               </v-layout>
            </v-card>
          </v-flex>
        </v-layout>
        

      </v-flex>
    </v-layout>

  </v-container>
</template>

<script>
/* 
import axios from 'axios'
const url = "https://api.ahakim.site/api/posts"; */

export default {
  data() {
    return {
      n:"",
      items: [],
      id: '',
      title:'',
      subtitle:'',
      images: [
        {
          src: "https://awsimages.detik.net.id/community/media/visual/2018/10/21/62973a08-e355-4b51-bcb2-e50f6d7b7697_169.jpeg?w=700&q=80"
        },
        {
          src: "https://d13wgvhv9pp8ri.cloudfront.net/wp-content/uploads/2018/05/30171753_273034503236760_116316393384060088_o-1.jpg"
        },
        {
          src: "https://cdn.images.express.co.uk/img/dynamic/67/590x/Messi-1034373.jpg?r=1540080554677"
        },
        {
          src: "http://cdn2.tstatic.net/pekanbaru/foto/bank/images/marcus-dan-kevin-juarai-china-open-2017_20171119_141532.jpg"
        }
      ],
    };
  },
  /* created() {
    axios.get("https://api.ahakim.site/api/posts").then(response => {
      this.items = response.data.results
    })
  }, */
};
</script>

<style>
.grid1 {
  height: 400px;
  /* margin-left: -50px; */
  margin-top: -25px;
}
.grid2 {
  height: 400px;
  margin-left: 10px;
  margin-top: -25px;
}
.slider {
  height: 400px;
}
.subheading {
  text-align: left;
  margin-left: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.gambar {
  height: 376px;
  margin-left: 4px;
  margin-right: 4px;
}
.terbaru1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-left: -15px;
  font-size: 20px;
}
.teknologi{
  margin-left: -150px;
}
.teknologi1{
  margin-left: -55px;
}
.label1{
  margin-left: -10px;
}
.deskripsi1{
  text-align: left
}
.ubah{
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}
.demam{
  text-align: left;
  font-size: 15px;
}
</style>
