<template>
	<div class="fixed-sn homepage-v2">
        <!-- Main layout -->
        <main style="margin-left:50px; margin-right:50px;">
            <div class="container-fluid">
                <!-- Magazine -->
                <div class="row mt-5">
                    <!-- Main news -->
                    <div class="col-xl-8 col-md-12 berita">
                        <!--Section: Magazine posts-->
                        <section class="section extra-margins listing-section">
                            <div class="col-md-12">
                                <div class="row mb-2">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="news-title">
                                                            <h2>Tittle</h2>
                                                        </div>
                                                        <div class="news-cats">
                                                            <ul class="list-unstyled list-inline mb-1">
                                                                <li class="list-inline-item">
                                                                        <a href="#"><small>Wacanakita</small> </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                        <a href="#"><small>andre_putra</small> </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                        <a href="#"><small>21 January 2019</small></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <hr>
                                                        <div class="news-image">
                                                            <img src="http://demo.beeteam368.com/vidorev/wp-content/uploads/2017/12/vanessa-bumbeers-117946-1500x844.jpg">
                                                            <p class="text-muted" style="text-align:center;">(image in wacanakita)</p>
                                                        </div>
                                                        <div class="news-content">
                                                            <p>
                                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis corporis, illo laborum ea, alias pariatur voluptatem adipisci dignissimos harum, molestias quaerat eaque quam temporibus eveniet aliquid similique a magnam corrupti!
                                                            </p>
                                                            <p>
                                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis corporis, illo laborum ea, alias pariatur voluptatem adipisci dignissimos harum, molestias quaerat eaque quam temporibus eveniet aliquid similique a magnam corrupti!
                                                            </p>
                                                            <p>
                                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis corporis, illo laborum ea, alias pariatur voluptatem adipisci dignissimos harum, molestias quaerat eaque quam temporibus eveniet aliquid similique a magnam corrupti!
                                                            </p>  
                                                        </div>
                                                        <hr>
                                                        <div class="news-footer">
                                                            <div class="news-likes">
                                                                <button type="button" class="btn btn-outline-secondary"><i class="fa fa-thumbs-o-up text-success"></i> <span class="badge ">Likes 4</span></button>
                                                                <button type="button" class="btn btn-outline-secondary"><i class="fa fa-thumbs-o-down text-danger"></i><span class="badge">Disklikes 4</span></button>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="news-tags">
                                                            <h5>Tags</h5>
                                                            <button type="button" class="btn btn-sm btn-secondary">
                                                            Sport <span class="badge badge-light">4</span>
                                                            </button>
                                                            <button type="button" class="btn btn-sm btn-secondary">
                                                            Business <span class="badge badge-light">4</span>
                                                            </button>
                                                            <button type="button" class="btn btn-sm btn-secondary">
                                                            Entertainment <span class="badge badge-light">4</span>
                                                            </button>
                                                            <button type="button" class="btn btn-sm btn-secondary">
                                                            Finance <span class="badge badge-light">4</span>
                                                            </button>
                                                            <button type="button" class="btn btn-sm btn-secondary">
                                                            Travell <span class="badge badge-light">4</span>
                                                            </button>
                                                            <button type="button" class="btn btn-sm btn-secondary">
                                                            Healty <span class="badge badge-light">4</span>
                                                            </button>
                                                        </div>
                                                        <hr>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/Section: Magazine posts-->


                    </div>
                    <!--/ Main news -->

                    <!-- Sidebar -->
                    <div class="col-xl-4 col-md-12 widget-column mt-0">

                        <h4 class="font-weight-bold"><strong>POPULAR POSTS</strong></h4>
                        <hr class="red mb-4">

                        <!-- Popular posts -->
                        <div class="card card-body pb-0">
                                <div class="single-post">

                                    <div class="row">
                                        <div class="col-4">

                                            <!-- Image -->
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(121).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 18/08/2017</p>
                                            </div>
                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ First row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Second row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(30).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 21/08/2017</p>
                                            </div>
                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ Second row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Third row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(118).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 27/08/2017</p>
                                            </div>

                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ Third row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Fourth row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(124).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 15/09/2017</p>
                                            </div>

                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ Fourth row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Fifth row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(85).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0  mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 21/08/2018</p>
                                            </div>
                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ Fifth row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Sixth row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(119).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 13/09/2017</p>
                                            </div>
                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/Sixth row -->
                                </div><br>
                            </div>
                        <!-- Popular posts -->


                       
                        <!-- Section: Featured posts -->
                        <section class="section widget-content mt-5">

                            <!-- Heading -->
                            <h4 class="font-weight-bold"><strong>FEATURED POSTS</strong></h4>
                            <hr class="red mb-4">

                            <!--/ Card -->
                            <div class="card card-body pb-0">
                                <div class="single-post">

                                    <div class="row">
                                        <div class="col-4">

                                            <!-- Image -->
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(121).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 18/08/2017</p>
                                            </div>
                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ First row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Second row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(30).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 21/08/2017</p>
                                            </div>
                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ Second row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Third row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(118).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 27/08/2017</p>
                                            </div>

                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ Third row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Fourth row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(124).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 15/09/2017</p>
                                            </div>

                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ Fourth row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Fifth row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(85).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0  mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 21/08/2018</p>
                                            </div>
                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ Fifth row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Sixth row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(119).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 13/09/2017</p>
                                            </div>
                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/Sixth row -->
                                </div><br>
                            </div>
                        </section>
                        <!--/ Section: Featured posts -->

                    </div>
                    <!--/ Sidebar -->
                </div>
                <!--/ Magazine -->
            </div>
        </main>
        <!--/ Main layout -->

         <!--footer start-->
        <div class="footer-wrap">
            <div class="container">
                <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="footer-logo">
                        <img src="../assets/wcnkt-png-hd.png" style="width: 250px;">
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis facere cum sequi saepe? Veniam amet optio corporis sequi expedita dignissimos, nesciunt recusandae praesentium dolor itaque hic magnam molestiae pariatur enim!
                    </p>
                </div>
                <div class="col-md-2 col-sm-6">
                    <h3>Quick  LInks</h3>
                    <ul class="footer-links">
                    <li><a href="#.">Home</a></li>
                    <li><a href="#.">About Us</a></li>
                    <li><a href="#.">Features</a></li>
                    <li><a href="#.">Categories</a></li>
                    <li><a href="#.">Blog</a></li>
                    <li><a href="#.">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h3>MAIN CATEGORIES</h3>
                    <ul class="footer-category">
                    <li><a href="#.">Electronics</a></li>
                    <li><a href="#.">Vahicles</a></li>
                    <li><a href="#.">Bikes</a></li>
                    <li><a href="#.">Animals</a></li>
                    <li><a href="#.">Toys</a></li>
                    <li><a href="#."> Furniture</a></li>
                    <li><a href="#.">Marketing</a></li>
                    <li><a href="#.">Technology</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h3>MAIN CATEGORIES</h3>
                    <ul class="footer-category">
                    <li><a href="#.">Electronics</a></li>
                    <li><a href="#.">Vahicles</a></li>
                    <li><a href="#.">Bikes</a></li>
                    <li><a href="#.">Animals</a></li>
                    <li><a href="#.">Toys</a></li>
                    <li><a href="#."> Furniture</a></li>
                    <li><a href="#.">Marketing</a></li>
                    <li><a href="#.">Technology</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                </div>
                <div class="copyright">Copyright © 2019 Wacanakita - All Rights Reserved.</div>
            </div>
        </div>

        <!--footer end--> 


	</div>
</template>

<script>
export default {
    data(){
        return{

        }
    }
}
</script>


<style>
/* Start section Fotrer */
img{width:100%;}

.footer-wrap {
    background-color: #e6e6ff;
    padding-top: 25px;
    margin-top: 15px;
    background-size: cover;
}

.footer-wrap h3 {
    color:black;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footer-wrap p {
    font-size: 14px;
    line-height: 24px;
    color: black;
    margin-top: 15px;
}

.footer-wrap p a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}

.footer-wrap p a:hover {
    text-decoration: none;
    color: #ff7800;
}

.footer-links li a {
    font-size: 14px;
    line-height: 26px;
    color:black;
    text-decoration: none;
}


.footer-links li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: black;
}

.footer-category li a {
    font-size: 14px;
    line-height: 26px;
    color:black;
    text-decoration: none;
}

.footer-category li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: black;
}

.address {
    
    color: #b3b3b3;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
    line-height: 30px;
}

.address:before {
    content: "\f277";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
}

.info a {
 
    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-phone:before {
    content: "\f095";
}

.info a {

    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-fax:before {
    content: "\f1ac";
}

.copyright {
    border-top: 1px solid #5f5f5f;
    font-size: 14px;
    color: black;
    margin-top: 25px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

/* End section Fotrer */
</style>
