<template>
	<div class="fixed-sn homepage-v2">
        <!-- Main layout -->
        <main style="margin-left:50px; margin-right:50px;">
            <div class="container-fluid">
                <!-- Magazine -->
                <div class="row mt-5">
                    <!-- Main news -->
                    <div class="col-xl-8 col-md-12 berita">
                        <!--Section: Magazine posts-->
                        <section class="section extra-margins listing-section">
                            <h4 class="font-weight-bold"><strong>LATESTS NEWS</strong></h4>
                            <hr class="mr-4 red">
                            <!--First row-->
                            <div class="row mb-4 mr-3">

                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="detailPost">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="#">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="#">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--/First row-->

                            <!--First row-->
                            <div class="row mb-4 mr-3">

                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="#">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="#">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="#">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--/First row-->

                            <h4 class="font-weight-bold mt-5"><strong>TOP NEWS</strong></h4>
                            <hr class="mr-4 red">

                            <!--Fourth row-->
                            <div class="row single-post mb-4 mr-3">
                                <!--Card-->
                                <div class="card mt-4 mx-3">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(140).jpg" class="card-img-top" alt="sample image">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--/Card image-->

                                   
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title"><strong>This is title of the news</strong></h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam veritatis, ducimus
                                            sit nostrum magnam in provident, suscipit, tenetur, ipsam animi doloribus. Tenetur
                                            consectetur distinctio mollitia.
                                        </p>
                                        <a href="#">Read More >></a>
                                    </div>
                                    <!--/Card content-->

                                </div>
                                <!--/Card-->
                            </div>

                            <h4 class="font-weight-bold"><strong>Sports NEWS</strong></h4>
                            <hr class="mr-4 red">
                            <!--First row-->
                            <div class="row mb-4 mr-3">

                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="#">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="#">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="#">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--/First row-->

                            <!--First row-->
                            <div class="row mb-4 mr-3">

                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="#">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="#">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="#">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--/First row-->

                            <h4 class="font-weight-bold"><strong>Finance NEWS</strong></h4>
                            <hr class="mr-4 red">
                            <!--First row-->
                            <div class="row mb-4 mr-3">

                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="#">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="#">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="#">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--/First row-->

                            <!--First row-->
                            <div class="row mb-4 mr-3">

                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="#">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="#">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-md-4 my-3">
                                    <!--Card-->
                                    <div class="card">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="sample image">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title"><strong>Card title</strong></h4>
                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                                content.
                                            </p>
                                            <a href="#">Read More >></a>
                                        </div>
                                        <!--/.Card content-->


                                    </div>
                                    <!--/.Card-->

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--/First row-->

                        </section>
                        <!--/Section: Magazine posts-->


                    </div>
                    <!--/ Main news -->

                    <!-- Sidebar -->
                    <div class="col-xl-4 col-md-12 widget-column mt-0">

                        <!-- Section: Categories -->
                        <section class="section mb-5">

                            <h4 class="font-weight-bold"><strong>CATEGORIES</strong></h4>
                            <hr class="red">

                            <ul class="list-group z-depth-1 mt-4">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a>Business</a>
                                    <span class="badge badge-danger badge-pill">4</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a>Entertainment</a>
                                    <span class="badge badge-danger badge-pill">2</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a>Health</a>
                                    <span class="badge badge-danger badge-pill">1</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a>Lifestyle</a>
                                    <span class="badge badge-danger badge-pill">2</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a>Photography</a>
                                    <span class="badge badge-danger badge-pill">1</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a>Technology</a>
                                    <span class="badge badge-danger badge-pill">2</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a>Sport</a>
                                    <span class="badge badge-danger badge-pill">5</span>
                                </li>
                            </ul>
                        </section>
                        <!-- Section: Categories -->

                        <h4 class="font-weight-bold"><strong>POPULAR POSTS</strong></h4>
                        <hr class="red mb-4">

                        <!-- Popular posts -->
                        <div class="card card-body pb-0">
                                <div class="single-post">

                                    <div class="row">
                                        <div class="col-4">

                                            <!-- Image -->
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(121).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 18/08/2017</p>
                                            </div>
                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ First row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Second row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(30).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 21/08/2017</p>
                                            </div>
                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ Second row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Third row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(118).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 27/08/2017</p>
                                            </div>

                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ Third row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Fourth row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(124).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 15/09/2017</p>
                                            </div>

                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ Fourth row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Fifth row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(85).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0  mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 21/08/2018</p>
                                            </div>
                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ Fifth row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Sixth row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(119).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 13/09/2017</p>
                                            </div>
                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/Sixth row -->
                                </div><br>
                            </div>
                        <!-- Popular posts -->


                       
                        <!-- Section: Featured posts -->
                        <section class="section widget-content mt-5">

                            <!-- Heading -->
                            <h4 class="font-weight-bold"><strong>FEATURED POSTS</strong></h4>
                            <hr class="red mb-4">

                            <!--/ Card -->
                            <div class="card card-body pb-0">
                                <div class="single-post">

                                    <div class="row">
                                        <div class="col-4">

                                            <!-- Image -->
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(121).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 18/08/2017</p>
                                            </div>
                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ First row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Second row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(30).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 21/08/2017</p>
                                            </div>
                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ Second row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Third row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(118).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 27/08/2017</p>
                                            </div>

                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ Third row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Fourth row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(124).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 15/09/2017</p>
                                            </div>

                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ Fourth row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Fifth row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(85).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0  mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 21/08/2018</p>
                                            </div>
                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/ Fifth row -->
                                </div><br>

                                <div class="single-post">
                                    <!-- Sixth row -->
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-4">
                                            <div class="view overlay">
                                                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(119).jpg" class="img-fluid rounded-0" alt="sample image">
                                                <a>
                                                    <div class="mask waves-light"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <!--/ Image -->

                                        <!-- Excerpt -->
                                        <div class="col-8">
                                            <h6 class="mt-0 mb-3"><a><strong>This is title of the news</strong></a></h6>

                                            <div class="post-data">
                                                <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> 13/09/2017</p>
                                            </div>
                                        </div>
                                        <!--/ Excerpt -->
                                    </div>
                                    <!--/Sixth row -->
                                </div><br>
                            </div>
                        </section>
                        <!--/ Section: Featured posts -->


                        <!-- Section: Newsletter -->
                        <section class="section mt-5">
                            <h4 class="font-weight-bold"><strong>NEWSLETTER</strong></h4>
                            <hr class="red mb-4">

                            <!-- Newsletter -->
                            <div class="card z-depth-1 widget-spacing mt-0">
                                <div class="card-body">

                                    <!-- Header -->
                                    <div class="text-center">
                                        <h4>Subscribe:</h4>
                                        <hr class="mt-2">
                                    </div>

                                    <!-- Body -->
                                    <p class="font-small text-center">We'll write rarely, but only the best content.</p>

                                    <!-- Body -->
                                    <div class="md-form">
                                        <i class="fas fa-user prefix grey-text"></i>
                                        <input type="text" id="form3" class="form-control">
                                        <label for="form3">Your name</label>
                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-envelope prefix grey-text"></i>
                                        <input type="text" id="form2" class="form-control">
                                        <label for="form2">Your email</label>
                                    </div>

                                    <div class="text-center">
                                        <button class="btn btn-primary">Send</button>
                                    </div>

                                </div>
                            </div>

                        </section>
                        <!--/ Section: Newsletter -->

                    </div>
                    <!--/ Sidebar -->
                </div>
                <!--/ Magazine -->
            </div>
        </main>
        <!--/ Main layout -->

         <!--footer start-->
        <div class="footer-wrap">
            <div class="container">
                <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="footer-logo">
                        <img src="../assets/wcnkt-png-hd.png" style="width: 250px;">
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis facere cum sequi saepe? Veniam amet optio corporis sequi expedita dignissimos, nesciunt recusandae praesentium dolor itaque hic magnam molestiae pariatur enim!
                    </p>
                </div>
                <div class="col-md-2 col-sm-6">
                    <h3>Quick  LInks</h3>
                    <ul class="footer-links">
                    <li><a href="#.">Home</a></li>
                    <li><a href="#.">About Us</a></li>
                    <li><a href="#.">Features</a></li>
                    <li><a href="#.">Categories</a></li>
                    <li><a href="#.">Blog</a></li>
                    <li><a href="#.">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h3>MAIN CATEGORIES</h3>
                    <ul class="footer-category">
                    <li><a href="#.">Electronics</a></li>
                    <li><a href="#.">Vahicles</a></li>
                    <li><a href="#.">Bikes</a></li>
                    <li><a href="#.">Animals</a></li>
                    <li><a href="#.">Toys</a></li>
                    <li><a href="#."> Furniture</a></li>
                    <li><a href="#.">Marketing</a></li>
                    <li><a href="#.">Technology</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h3>MAIN CATEGORIES</h3>
                    <ul class="footer-category">
                    <li><a href="#.">Electronics</a></li>
                    <li><a href="#.">Vahicles</a></li>
                    <li><a href="#.">Bikes</a></li>
                    <li><a href="#.">Animals</a></li>
                    <li><a href="#.">Toys</a></li>
                    <li><a href="#."> Furniture</a></li>
                    <li><a href="#.">Marketing</a></li>
                    <li><a href="#.">Technology</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                </div>
                <div class="copyright">Copyright © 2019 Wacanakita - All Rights Reserved.</div>
            </div>
        </div>

        <!--footer end--> 


	</div>
</template>

<script>
export default {
    data(){
        return{

        }
    }
}
</script>


<style>
/* Start section Fotrer */


.footer-wrap {
    background-color: #e6e6ff;
    padding-top: 25px;
    margin-top: 15px;
    background-size: cover;
}

.footer-wrap h3 {
    color:black;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footer-wrap p {
    font-size: 14px;
    line-height: 24px;
    color: black;
    margin-top: 15px;
}

.footer-wrap p a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}

.footer-wrap p a:hover {
    text-decoration: none;
    color: #ff7800;
}

.footer-links li a {
    font-size: 14px;
    line-height: 26px;
    color:black;
    text-decoration: none;
}


.footer-links li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: black;
}

.footer-category li a {
    font-size: 14px;
    line-height: 26px;
    color:black;
    text-decoration: none;
}

.footer-category li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: black;
}

.address {
    
    color: #b3b3b3;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
    line-height: 30px;
}

.address:before {
    content: "\f277";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
}

.info a {
 
    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-phone:before {
    content: "\f095";
}

.info a {

    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-fax:before {
    content: "\f1ac";
}

.copyright {
    border-top: 1px solid #5f5f5f;
    font-size: 14px;
    color: black;
    margin-top: 25px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

/* End section Fotrer */
</style>
